sudo: false

language: node_js

node_js:
  - '0.10'
  - '0.12'

branches:
  only:
    - master
    - travis-ci

# Not using `npm install --dev` because it is recursive. It will pull in the all
# development dependencies for CoffeeScript. Way too much spew in the Travis CI
# build output.

before_install:
  - npm install
  - npm install istanbul coveralls

env:
  global:
  - secure: "SqRigT7FVJXeYa/IjHlgD6k8DRL/AuG9HNLp21u9aqMxSX9fxohtXWz3OwhgMeoCwko02zoWH+JB8E4CpbEicklzbvWAJd5hmOSGdNIY2EzBS+uULD5yf/KX4hjOsZB0SaD/fJ9XPBpYwR+l3u/7nGQo8O8oELtu6GCPKJ7sKTI="
